* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  min-width: fit-content;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #cefcce;
  text-align: center;
}

main {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem;
}
main h1 {
  color: #155f15;
  text-decoration: underline;
}
main .svg-container {
  margin: auto;
  height: fit-content;
}
main .svg-container .map .svg-path {
  fill: #155f15;
  stroke: #4ea74e;
  -webkit-tap-highlight-color: transparent;
}
main .svg-container .map .svg-path:hover {
  cursor: pointer;
  fill: #075007;
}

.map-tooltip {
  position: absolute;
  display: none;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: white;
  color: #155f15;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem;
  pointer-events: none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 33.75em) {
  h1 {
    font-size: 3rem;
  }
}